<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :size => "30x5" %>
  </p>
  <p>
    <%= f.label :asset, "File" %><br>
    <%= f.file_field :asset %>
  </p>
  <%= f.submit :class => "btn" %>
<% end %>
